#stps ul li span {   line-height: 12px;  color: #CCCCCC;    display: block;    font-size: 12px;    height: 32px;}
.stpsumry h2 {    color: #333333;    font-size: 15px;} 
.stpsumry p {    color: #333333;    font-size: 15px;}