<div id="wrapper" data-role="view">
  <header class="clearfix">
    <nav>
      <div id="fullheds">
        <div id="menutops">
          <div class="logo"><a href="./">&nbsp;</a></div>
          <ul class="nav-menu menu">
            <li><a href="#"><span class="nc1"></span>Dashboard <b>10</b></a></li>
            <li><a href="#"><span class="nc2"></span>Leads</a></li>
            <li><a href="#" class="activ"><span class="nc3"></span>Manage Cases</a></li>
            <li><a href="#"><span class="nc4"></span>Documents</a></li>
            <li><a href="#"><span class="nc5"></span>Reports</a></li>
            <li><a href="#"><span class="nc6"></span>Account</a></li>
            <li><a href="#"><span class="nc7"></span>Logout</a></li>
            <li><a href="#"><span class="nc8"></span>Go back to Home</a></li>
          </ul>
        </div>
      </div>
      <!-- helpfull prod-->
      <div class="lefthelpdsk">
        <h6>Helpful Products</h6>
        <ul>
          <li><a href="#"><span class="nc1"></span>Equifax</a></li>
          <li><a href="#"><span class="nc2"></span>IRS Transcript</a></li>
          <li><a href="#"><span class="nc3"></span>UCC Search</a></li>
          <li><a href="#"><span class="nc4"></span>E-Signature</a></li>
          <li><a href="#"><span class="nc5"></span>Incorporation Documents</a></li>
        </ul>
      </div>
      <!-- helpfull prod-->
    </nav>
  </header>
  <section>
    <div class="helnum">
      <h2>Call toll free  877-861-2210</h2>
    </div>
    <section>
      <form id="B2cAppForms" class="cmxform" action="#" method="post" novalidate="novalidate">
        <article id="aplicn_tp">
          <div class="warps clearfix">
            <ul class="app_nav">
              <li class="activ"><span>Business Information</span></li>
              <li><span>Personal Financial Statement</span></li>
              <li><span>Document List</span></li>
            </ul>
          </div>
        </article>
        <article id="aplicn_step">
          <div class="warps clearfix">
            <ul class="clearfix">
              <li class="done"><span>Purpose/Product/ <br>
                Automatic Payment Deduction</span> </li>
              <li  class="activetrail"><span>Business Information <br>
                (Applicant/Borrower)</span> </li>
              <li><span>Business Obligations/<br>
                Deposit Relationships</span></li>
              <li><span>Business Financials</span> </li>
              <li><span>Declarations</span></li>
            </ul>
          </div>
        </article>
        <article id="aplicn_tdBank">
          <div class="warps clearfix">
            <div class="sub-step1">
              <div class="toparea clearfix">
                <h2>Business Information (Applicant/Borrower) <span style="font-size:12px; font-weight:normal; display:block;">The following information is required to process your loan request(s). Please complete all sections.</span></h2>
                <div class="coln">
                  <input name="" data-role="backbutton" type="submit" value="Back" class="BTgry">
                  <input name="" type="submit" value="Save &amp; Exit" class="BTgry">
                  <a href="views/3.html" data-role="button" class="BTgren"  id="next">Next</a> </div>
              </div>
              <div class="rws rw2 clearfix">
                <div class="rwfil  clearfix">
                  <p>
                    <input type="text" original-title="Business Legal Name" class="IN1 ipsm3 " name="business_legal_name" id="business_legal_name" placeholder="Business Legal Name" required="">
                  </p>
                  <p>
                    <input type="text" original-title="Doing Business as (DBA) Name, if any" class="IN1 ipsm3 " name="doing_business" id="doing_business" placeholder="Doing Business as (DBA) Name, if any" required="">
                  </p>
                  <p>
                    <input type="text" required="" placeholder="Primary Contact" id="primary_contact" name="primary_contact" class="IN1 ipsm3" original-title="Primary Contact">
                  </p>
                </div>
                <div class="rwfil  clearfix">
                  <p>
                    <input type="text" original-title="Tax I.D." class="IN1 ipsm3" name="tax_id" id="tax_id" placeholder="Tax I.D. #" required="">
                  </p>
                  <p>
                    <input type="text" original-title="Telephone" class="IN1 ipsm3" name="telephone" id="telephone" placeholder="Telephone #" required="">
                  </p>
                  <p>
                    <input type="text" required="" placeholder="Email Address" id="email_address" name="email_address" class="IN1 ipsm3" original-title="Email Address">
                  </p>
                </div>
                <div class="rwfil  clearfix">
                  <p>
                    <input type="text" original-title="Street Address (no P.O. Boxes)" class="IN1 " name="Street Address" id="Street Address" placeholder="Street Address (no P.O. Boxes)" required="">
                  </p>
                  <p class="opt">
                    <input name="r2" type="radio" value="">
                    <span>Own</span>
                    <input name="r2" type="radio" value="">
                    <span>Rent</span></p>
                </div>
                <div class="rwfil  clearfix">
                  <p>
                    <select required="" name="bus_info_state2" id="bus_info_state2" class="IN1 ipsm3" style=" width:246px;" original-title="State">
                      <option value="">Select State</option>
<option value="1">Alabama</option>
<option value="2">Alaska</option>
<option value="4">Arizona</option>
<option value="5">Arkansas</option>
<option value="9">California</option>
                    </select>
                  </p>
                  <p>
                    <select required="" name="City" id="City" class="IN1 ipsm3" style=" width:248px;" original-title="City">
<option value="1">Select City</option>
<option value="1">Abbeville</option>
<option value="1">Abernant</option>

<option value="1">Anchorage</option>
<option value="1">Barrow</option>

<option value="1">Aguila</option>
<option value="1">Ajo</option>

<option value="1">Adona</option>
<option value="1">Alexander</option>

<option value="1">Acampo</option>
<option value="1">Acton</option>
                   </select>
                  </p>
                  <p>
                    <input type="text" required="" placeholder="Zip Code" id="zip_code" name="zip_code" class="IN1 ipsm3 " original-title="Zip Code:">
                  </p>
                </div>
                <div class="rwfil  clearfix">
                  <p>
                    <input type="text" original-title="Mailing Address (if different)" class="IN1 " name="Street Address2" id="Street Address2" placeholder="Mailing Address (if different)" required="">
                  </p>
                </div>
                <div style="clear:both;"></div>
                <div class="rwfil  clearfix">
                  <p>
                    <select required="" name="bus_info_state" id="bus_info_state" class="IN1 ipsm3" style=" width:246px;" original-title="State">
                      <option value="">Select State</option>
                      <option value="1">Alabama</option>
                      <option value="2">Alaska</option>
                      <option value="4">Arizona</option>
                      <option value="5">Arkansas</option>
                      <option value="9">California</option>
                    </select>
                  </p>
                  <p>
                    <select required="" name="City2" id="City2" class="IN1 ipsm3" style=" width:248px;" original-title="City">
                      <option value="1">Select City</option>
                      <option value="1">Abbeville</option>
                      <option value="1">Abernant</option>
                      <option value="1">Anchorage</option>
                      <option value="1">Barrow</option>
                      <option value="1">Aguila</option>
                      <option value="1">Ajo</option>
                      <option value="1">Adona</option>
                      <option value="1">Alexander</option>
                      <option value="1">Acampo</option>
                      <option value="1">Acton</option>
                    </select>
                  </p>
                  <p>
                    <input type="text" required="" placeholder="Zip Code" id="zip_code" name="zip_code" class="IN1 ipsm3 " original-title="Zip Code:">
                  </p>
                </div>
                <div class="rws clearfix">
                  <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td width="33%" valign="top"><p>
                          <input name="r3" type="radio" value="" class="tempr">
                          C Corporation</p></td>
                      <td width="33%" valign="top"><p>
                          <input name="r3" type="radio" value="" class="tempr">
                          S Corporation</p></td>
                      <td width="33%" valign="top"><p>
                          <input name="r3" type="radio" value="" class="tempr">
                          Limited Liability Company (LLC)</p></td>
                    </tr>
                    <tr>
                      <td width="33%" valign="top"><p>
                          <input name="r3" type="radio" value="" class="tempr">
                          Business Individual</p></td>
                      <td width="33%" valign="top"><p>
                          <input name="r3" type="radio" value="" class="tempr">
                          Non-Profit</p></td>
                      <td width="33%" valign="top"><p>
                          <input name="r3" type="radio" value="" class="tempr">
                          Sole Proprietor</p></td>
                    </tr>
                    <tr>
                      <td width="33%" valign="top"><p>
                          <input name="r3" type="radio" value="" class="tempr">
                          Limited Partnership</p></td>
                      <td width="33%" valign="top"><p>
                          <input name="r3" type="radio" value="" class="tempr">
                          General Partnership</p></td>
                      <td width="33%" valign="top"><p>
                          <input name="r3" type="radio" value="" class="tempr">
                          LLP</p></td>
                    </tr>
                    <tr>
                      <td width="33%" valign="top"><p>
                          <input name="r3" type="radio" class="other1" value="">
                          Other</p>
                        <div style="clear:both;"></div>
                        <div class="conditionBlock clearfix other11">
                          <p  style="padding-bottom:0;">
                            <input type="text" required="" placeholder="Please Describe" id="please_describe" name="Please Describe" class="sml" style="margin-bottom:0;" original-title="Please Describe">
                          </p>
                        </div></td>
                      <td width="33%">&nbsp;</td>
                      <td width="33%">&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="3" valign="top"><p style=" padding-right: 5px; padding-top: 9px;">Date Business Established:</p>
                        <p>
                          <select original-title="Month" class="IN1" id="Month" name="Month" style="  padding-left: 0;
    width: 78px;" required="">
                            <option value="">Month</option>
                            <option value="">1</option>
                          </select>
                        </p>
                        <p>
                          <select original-title="Year" class="IN1" id="Year" name="Year" style="  padding-left: 0;
    width: 69px;" required="">
                            <option value="">Year</option>
                            <option value="">2014</option>
                          </select>
                        </p>
                        <p>
                          <select required="" name="bus_info_state2" id="bus_info_state2" class="IN1 ipsm3" style=" width:184px;" original-title="State of Incorporation">
                            <option value="">State of Incorporation</option>
                          <option value="1">Alabama</option><option value="2">Alaska</option><option value="4">Arizona</option><option value="5">Arkansas</option><option value="9">California</option>
                          </select>
                        </p>
                        <p>
                          <input type="text" required="" placeholder="Number of Employees After Financing" id="number_employees_financing" name="number_employees_financing" class="IN1 ipsm3" original-title="Number of Employees After Financing:">
                        </p></td>
                    </tr>
                  </table>
                </div>
                <div class="rws clearfix">
                  <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td><textarea class="IN1" placeholder="Explain Nature of Business" name="Explain Nature of Business" style="width:728px"></textarea></td>
                    </tr>
                  </table>
                </div>
                <div class="rws clearfix">
                  <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td width="33%" valign="top"><p>
                          <input name="" type="checkbox" value="">
                          Manufacturing</p></td>
                      <td width="33%" valign="top"><p>
                          <input name="" type="checkbox" value="">
                          Wholesale</p></td>
                      <td width="33%" valign="top"><p>
                          <input name="" type="checkbox" value="">
                          Retail</p></td>
                    </tr>
                    <tr>
                      <td width="33%" valign="top"><p>
                          <input name="" type="checkbox" value="">
                          Service</p></td>
                      <td width="33%" valign="top"><p>
                          <input name="" type="checkbox" value="">
                          Agricultural</p></td>
                      <td width="33%" valign="top"><p>
                          <input name="" type="checkbox" value="">
                          Construction</p></td>
                    </tr>
                    <tr>
                      <td width="33%" valign="top"><p>
                          <input name="" type="checkbox" class="otherintp" value="">
                          Other</p>
                           <div style="clear:both;"></div>
                        <div class="conditionBlock clearfix other22">
                          <p  style="padding-bottom:0;">
                            <input type="text" required="" placeholder="Please Describe" id="please_describe" name="Please Describe" class="sml" style="margin-bottom:0;" original-title="Please Describe">
                          </p>
                        </div>
                          </td>
                      <td width="33%" valign="top">&nbsp;</td>
                      <td width="33%" valign="top">&nbsp;</td>
                    </tr>
                  </table>
                </div>
                <div class="rws clearfix">
                  <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td><textarea class="IN1" placeholder="List any Affiliated Companies" name="List any Affiliated Companies" style="width:728px;"></textarea></td>
                    </tr>
                  </table>
                </div>
              </div>
              <h2 class="subtitle" style="margin-top:10px;">Collateral to Secure your Small Business Loan</h2>
              <div class="rws rw2 clearfix">
                <div class="rwfil aut clearfix">
                  <p>The following information will help us better understand the assets being pledged to secure your business loan request(s).</p>
                </div>
                <div class="rws clearfix">
                  <p>CHECK ONLY the following collateral that is being offered to secure your Small Business loan request(s). Current Value, Lien(s), description & owner name(s)
                    are required for all pledged collateral.</p>
                </div>
                <div class="summarytable ">
                  <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                      <tr>
                        <th>Collateral</th>
                        <th>Current Value</th>
                        <th>Current Lien(s)</th>
                        <th style="width:210px; text-align:center;">Describe Collateral<br>
                          (If real estate also Please Describe)</th>
                        <th style="width:180px;" class="last">Owner Name(s)</th>
                      </tr>
                      <tr>
                        <td><span>TD Bank</span>
                          <div class="clear"></div>
                          <p class="opt wth120">
                            <input name="r4" type="radio" value="">
                            <span>CD</span>
                            <input name="r4" type="radio" value="">
                            Savings</p></td>
                        <td><input type="text" placeholder="$" class="IN1 midium" name="" original-title="Current Value"></td>
                        <td><input type="text" placeholder="Please Describe" class="IN1 midium" name="" original-title="Current Lien(s)"></td>
                        <td><input type="text" placeholder="Please Describe" class="IN1 midium" name="" original-title="Please Describe"></td>
                        <td class="last"><input type="text" placeholder="Name" class="IN1 midium" name="" original-title="Owner Name"></td>
                      </tr>
                      <tr>
                        <td><span>Marketable Securities</span></td>
                        <td><input type="text" placeholder="$" class="IN1 midium" name="" original-title="Current Value"></td>
                        <td><input type="text" placeholder="Please Describe" class="IN1 midium" name="" original-title="Current Lien(s)"></td>
                        <td><input type="text" placeholder="Please Describe" class="IN1 midium" name="" original-title="Please Describe"></td>
                        <td class="last"><input type="text" placeholder="Name" class="IN1 midium" name="" original-title="Owner Name"></td>
                      </tr>
                      <tr>
                        <td><span>Equipment</span>
                          <div class="clear"></div>
                          <p class="opt wth120">
                            <input name="r5" type="radio" value="">
                            <span>New</span>
                            <input name="r5" type="radio" value="">
                            Used</p></td>
                        <td><input type="text" placeholder="$" class="IN1 midium" name="" original-title="Current Value"></td>
                        <td><input type="text" placeholder="Please Describe" class="IN1 midium" name="" original-title="Current Lien(s)"></td>
                        <td><input type="text" placeholder="Please Describe" class="IN1 midium" name="" original-title="Please Describe"></td>
                        <td class="last"><input type="text" placeholder="Name" class="IN1 midium" name="" original-title="Owner Name"></td>
                      </tr>
                      <tr>
                        <td><span>Vehicle</span>
                          <div class="clear"></div>
                          <p class="opt wth120">
                            <input name="r6" type="radio" value="">
                            <span>New</span>
                            <input name="r6" type="radio" value="">
                            Used</p></td>
                        <td><input type="text" placeholder="$" class="IN1 midium" name="" original-title="Current Value"></td>
                        <td><input type="text" placeholder="Please Describe" class="IN1 midium" name="" original-title="Current Lien(s)"></td>
                        <td><input type="text" placeholder="Please Describe" class="IN1 midium" name="" original-title="Please Describe"></td>
                        <td class="last"><input type="text" placeholder="Name" class="IN1 midium" name="" original-title="Owner Name"></td>
                      </tr>
                      <tr>
                        <td><span>Accounts Receivable</span> </td>
                        <td><input type="text" placeholder="$" class="IN1 midium" name="" original-title="Current Value"></td>
                        <td><input type="text" placeholder="Please Describe" class="IN1 midium" name="" original-title="Current Lien(s)"></td>
                        <td><input type="text" placeholder="Please Describe" class="IN1 midium" name="" original-title="Please Describe"></td>
                        <td class="last"><input type="text" placeholder="Name" class="IN1 midium" name="" original-title="Owner Name"></td>
                      </tr>
                      <tr>
                        <td><span>Inventory</span></td>
                        <td><input type="text" placeholder="$" class="IN1 midium" name="" original-title="Current Value"></td>
                        <td><input type="text" placeholder="Please Describe" class="IN1 midium" name="" original-title="Current Lien(s)"></td>
                        <td><input type="text" placeholder="Please Describe" class="IN1 midium" name="" original-title="Please Describe"></td>
                        <td class="last"><input type="text" placeholder="Name" class="IN1 midium" name="" original-title="Owner Name"></td>
                      </tr>
                      <tr>
                        <td><span>Owner Occupied Real Estate</span>
                          <div class="clear"></div>
                          <p class="opt wth120">
                            <input name="r7" type="radio" value="">
                            <span>Residential</span> <br>
                            <input name="r7" type="radio" value="">
                            Commercial</p></td>
                        <td><input type="text" placeholder="$" class="IN1 midium" name="" original-title="Current Value"></td>
                        <td><input type="text" placeholder="Please Describe" class="IN1 midium" name="" original-title="Current Lien(s)"></td>
                        <td><input type="text" placeholder="Please Describe" class="IN1 midium" name="" original-title="Please Describe"></td>
                        <td class="last"><input type="text" placeholder="Name" class="IN1 midium" name="" original-title="Owner Name"></td>
                      </tr>
                      <tr>
                        <td><span>Investment Real Estate</span>
                          <div class="clear"></div>
                          <p class="opt wth120">
                            <input name="r8" type="radio" value="">
                            <span>Residential</span> <br>
                            <input name="r8" type="radio" value="">
                            <span>Commercial</span> <br>
                            <input name="r8" type="radio" value="">
                            <span>Mixed Use</span> <br>
                            <input name="r8" type="radio" value="">
                            <span>Other</span></p></td>
                        <td><input type="text" placeholder="$" class="IN1 midium" name="" original-title="Current Value"></td>
                        <td><input type="text" placeholder="Please Describe" class="IN1 midium" name="" original-title="Current Lien(s)"></td>
                        <td><input type="text" placeholder="Please Describe" class="IN1 midium" name="" original-title="Please Describe"></td>
                        <td class="last"><input type="text" placeholder="Name" class="IN1 midium" name="" original-title="Owner Name"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </article>
        <article id="aplicn_btm">
          <div class="warps">
            <div class="coln">
              <input name="" data-role="backbutton" type="submit" value="Back" class="BTgry">
              <input name="" type="submit" value="Save &amp; Exit" class="BTgry">
              <a href="views/3.html" data-role="button" class="BTgren"  id="next">Next</a> </div>
          </div>
        </article>
      </form>
    </section>
    <div class="copyright clearfix">
      <div class="copybx"> <a href="#">Privacy</a> <span>|</span><a href="#">Terms</a> <span>|</span><a href="#">Sitemap</a>
        <p>&copy; Biz2Credit.com 2012-13. All rights reserved.</p>
      </div>
    </div>
  </section>
</div>
