<!DOCTYPE html>
<html lang="en-US">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TD Bank form 6</title>
<!--[if lt IE 9]> <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> <![endif]-->
<!--[if lte IE 8]><script src="js/html5.js"></script><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<link rel="stylesheet" href="css/skin_main.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/dsh_skin2.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script type="text/javascript" src="js/rwd/main.js"></script>
<script type="text/javascript" src="js/general.js"></script>
<link rel='stylesheet' type='text/css' media="all and (min-width:960px)" href='css/lessthan769.css' />
<link rel='stylesheet' type='text/css' media="all and (max-width:959px)" href='css/lessthan768.css' />
<link rel='stylesheet' type='text/css' media="all and (max-width:640px)" href='css/lessthan640.css' />
<link rel='stylesheet' type='text/css' media="all and (max-width:480px)" href='css/lessthan480.css' />
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<link rel="stylesheet" href="js/tipsy/tipsy.css" type="text/css" />
<script type="text/javascript" src="js/tipsy/jquery.tipsy.js"></script>

    
    
<link rel="shortcut icon" href="images/favicon.ico" />
</head>
<body>
<!--wrapper start--><div id="wrapper">
<header class="clearfix">
<nav>
       <div id="fullheds"><div id="menutops">  
        <div class="logo"><a href="./">&nbsp;</a></div> 
		<ul class="nav-menu menu">
            <li><a href="dashboard.php" class="activ"><span class="nc1"></span>Dashboard <b>10</b></a></li>
            <li><a href="manage-leads.php"><span class="nc2"></span>Leads</a></li>
            <li><a href="manage-case-landing.php"><span class="nc3"></span>Manage Cases</a></li>
            <li><a href="manage-documents.php"><span class="nc4"></span>Documents</a></li>
            <li><a href="report.php"><span class="nc5"></span>Reports</a></li>
            <li><a href="manage-account.php"><span class="nc6"></span>Account</a></li>
            <li><a href="logout.php"><span class="nc7"></span>Logout</a></li>
            <li><a href="http://www.biz2credit.com"><span class="nc8"></span>Go back to Home</a></li>
        </ul>
</div>	</div>
     
     <!-- helpfull prod--><div class="lefthelpdsk">
     <h6>Helpful Products</h6>
     <ul>
      <li><a href="equifax.php"><span class="nc1"></span>Equifax</a></li>
      <li><a href="IRS-transcript.php"><span class="nc2"></span>IRS Transcript</a></li>
      <li><a href="UCC-search.php"><span class="nc3"></span>UCC Search</a></li>
      <li><a href="e-signature.php"><span class="nc4"></span>E-Signature</a></li>
      <li><a href="incorporation-documents.php"><span class="nc5"></span>Incorporation Documents</a></li>
     </ul>
     
     
     </div><!-- helpfull prod-->
   </nav>
 </header>


<section>
<div class="helnum"><h2>Call toll free  877-861-2210</h2></div>
<section>
    <form id="B2cAppForms" class="cmxform" action="dashboard-application2.html" method="post" novalidate="novalidate">
      <article id="aplicn_tp">
        <div class="warps clearfix">
          <ul class="app_nav">
            <li><span>Business Information</span></li>
            <li   class="activ"><span>Personal Financial Statement</span></li>
          </ul>
        </div>
      </article>
      <article id="aplicn_step">
        <div class="warps clearfix">
          <ul class="clearfix">
            <li class="activetrail"><span>Business Information</span> </li>
            <li><span>Personal Financial 
              Statement</span></li>
            <li><span>Personal Financial Statement Schedules</span> </li>
            <li><span>Declarations</span></li>
          </ul>
        </div>
      </article>
      <article id="aplicn_tdBank">
        <div class="warps clearfix">
          <div class="sub-step1">
            <div class="toparea clearfix">
              <h2>Small Business <span style="font-size:12px; font-weight:normal; display:block;">Owner/Guarantor Personal Financial Statement</span> </h2>
              <div class="coln">
                <input type="submit" class="BTgry" value="Save &amp; Exit" name="">
                <input type="submit" class="BTgren" value="Next" id="next" name="next">
              </div>
            </div>
            <div class="rws rw2 clearfix">
              <div style="clear:both;"></div>
              <div class="rwfil aut clearfix" style="float:none;">
                <p>
                  <input type="text" required="" placeholder="Officer Name" id="balance_sheet" name="balance_sheet" class="IN1 half" original-title="Officer Name">
                </p>
                <p>
                  <input type="text"  required="" placeholder="Officer #" id="recent_tax_return" name="recent_tax_return" class="IN1 half" original-title="Officer #">
                </p>
              </div>
              <div class="rwfil aut clearfix" style="float:none;">
                <p>
                  <input type="text" required="" placeholder="Store" id="balance_sheet" name="balance_sheet" class="IN1 half" original-title="Store">
                </p>
                <p>
                  <input type="text"  required="" placeholder="Phone" id="recent_tax_return" name="recent_tax_return" class="IN1 ipsm1" original-title="Phone">
                </p>
              </div>
              <h3 class="subtitle clearfix" style=" margin-top:15px; float:none;">Business Information</h3>
              <div class="rwfil aut clearfix" style="float:none;">
                <p>
                  <input type="text" required="" placeholder="Business Legal Name:" id="balance_sheet" name="BusinessnName:" class="IN1 half" original-title="Business Legal Name:">
                </p>
                <p>
                  <input type="text"  required="" placeholder="Doing Business as (DBA) Name, in any" id="recent_tax_return" name="recent_tax_return" class="IN1 half" original-title="Doing Business as (DBA) Name, in any">
                </p>
              </div>
              <br>
              <div class="rwfil  clearfix" style="float:none;">
                <p><strong> Please provide information for anyone owning 10% or more of the business. (Attach additional sheets if necessary.)
                  We will accept an Accountant prepared personal financial statement attached to this form along with a customer signature acknowledging this form and disclosures.</strong></p>
              </div>
              <h3 style="margin-top:0; float:none;" class="subtitle clearfix">Owner/Guarantor</h3>
              <div class="rwfil aut clearfix" style="float:none;">
                <p>
                  <input type="text" required="" placeholder="Name:" id="balance_sheet" name="balance_sheet" class="IN1 half" original-title="Name:">
                </p>
              </div>
              <br>
              <div class="rwfil  clearfix">
                <div class="titleLabel"><strong>Officer Title</strong></div>
                <div class="clear"></div>
                <p class="opt filter"><span style="width: 288px;">Sole Proprietorship or Business Individual:</span>
                  <input type="checkbox" value="" name="">
                  <span>Owner</span></p>
              </div>
              <div class="rwfil  clearfix">
                <p class="opt filter"><span>Partnership:</span>
                  <input type="checkbox" value="" name="">
                  <span>Partner</span>
                  <input type="checkbox" value="" name="">
                  <span>Limited Partner</span></p>
              </div>
              <div class="rwfil  clearfix">
                <p class="opt filter"><span>Limited Liability Co:</span>
                  <input type="checkbox" value="" name="">
                  <span>Member</span>
                  <input type="checkbox" value="" name="">
                  <span>Manager</span></p>
              </div>
              <div class="rwfil  clearfix">
                <p class="opt filter"><span>Corp:</span>
                  <input type="checkbox" value="" name="">
                  <span>President</span>
                  <input type="checkbox" value="" name="">
                  <span>Vice President</span>
                  <input type="checkbox" value="" name="">
                  <span>Corp Secretary</span></p>
              </div>
              <div class="rwfil  rws clearfix">
                <p class="opt filter"><span>Other:</span>
                  <input type="checkbox" class="other_title1"  value="" name="">
                </p>
              </div>
              <div class="conditionBlock clearfix other_title">
                <p style="padding-bottom:0;">
                  <input type="text" original-title="Others" style="margin-bottom:0;" class="IN1 ipsm3" name="Please Describe" id="please_describe" placeholder="Other" required="">
                </p>
              </div>
              <br>
              <div style="float:none;" class="rwfil aut clearfix">
                <p style="  margin-right: 100px;">
                  <input type="text" original-title="Date of Birth:" class="IN1 ipsm1 calic" name="balance_sheet" id="balance_sheet" placeholder="Date of Birth" required="">
                </p>
                <p class="opt"><span> Veteran:</span>
                  <input type="radio" value="" name="">
                  <span>Yes</span>
                  <input type="radio" value="" name="">
                  <span>No</span></p>
              </div>
              <div class="rwfil  clearfix">
                <p>
                  <input type="text" required="" placeholder="Social Security Number" id="city" name="city" class="IN1 ipsm3 " original-title="Social Security Number">
                </p>
                <p>
                  <input type="text" required="" placeholder="Home Phone" id="telephone" name="telephone" class="IN1 ipsm3" original-title="Home Phone">
                </p>
                <p>
                  <input type="text" original-title="Street Address" class="IN1 ipsm3 " name="zip_code" id="zip_code" placeholder="Street Address" required="">
                </p>
              </div>
              <div class="rwfil  clearfix">
                <p>
                  <select original-title="Select State" class="IN1 ipsm3" id="bus_info_state" name="bus_info_state" required="">
                    <option value="">City</option>
                    <option value="">City</option>
                  </select>
                </p>
                <p>
                  <select original-title="Select State" class="IN1 ipsm3" id="bus_info_state" name="bus_info_state" required="">
                    <option value="">State</option>
                    <option value="">State</option>
                  </select>
                </p>
                <p>
                  <input type="text" original-title="Zip Code:" class="IN1 ipsm3 " name="zip_code" id="zip_code" placeholder="Zip Code" required="">
                </p>
              </div>
              <div class="rwfil aut clearfix" style="float:none;">
                <p> Date you moved to this address:&nbsp;&nbsp;
                  <input type="text" required="" style="width:144px;" placeholder="Select Date" id="balance_sheet" name="balance_sheet" class="IN1 ipsm1 calic" original-title="Select Date">
                </p>
                <p class="opt"><span style=" width:146px;">Monthly Housing Expense</span>
                  <input type="radio" name="aa" class="own1" value="">
                  <span>Own</span>
                  <input type="radio" class="rent1" name="aa" value="">
                  <span>Rent</span></p>
              </div>
              <div class="conditionBlock clearfix Rent">
                <p style="padding-bottom:0;"> (Principal, Interest, Taxes & Insurance) or Rent:
                  &nbsp;
                  <input type="text" original-title="$" style="margin-bottom:0;" class="IN1 ipsm3" name="Rent" id="Rent" placeholder="$" required="">
                </p>
              </div>
              <div class="rwfil  clearfix">
                <p>
                  <input type="text" original-title="Total Annual Income*$" class="IN1 ipsm3 " name="city" id="city" placeholder="Total Annual Income*: $" required="">
                </p>
                <p>
                  <input type="text" original-title="Home Phone" class="IN1 ipsm3" name="telephone" id="telephone" placeholder="% Ownership of Business:" required="">
                </p>
                <p>Present Ownership Since:&nbsp;&nbsp;
                  <input type="text" original-title="Select Date" class="IN1 ipsm1 calic" name="balance_sheet" id="balance_sheet" placeholder="Select Date" style="width:182px;" required="">
                </p>
              </div>
              <div style="float:none;" class="rwfil aut clearfix">
                <p class="opt"><span>U.S. Citizen:</span>
                  <input type="radio" value="" class="own1" name="aAa">
                  <span>Yes</span>
                  <input type="radio" value="" name="Aaa">
                  <span>No</span></p>
              </div>
              <div style="float:none;" class="rwfil aut clearfix">
                <p class="opt"><span>Legal Permanent Resident Alien:</span>
                  <input type="radio" value="" class="own1" name="BBB">
                  <span>Yes</span>
                  <input type="radio" value="" name="BBB">
                  <span>No</span></p>
              </div>
              <div style="float:none;" class="rwfil aut clearfix">
                <p>
                  <input type="text"  original-title="Checking Balance: $" class="IN1 ipsm3 " name="" id="" placeholder="Checking Balance: $" required="">
                </p>
                <p>
                  <input type="text"  original-title="Savings Balance: $" class="IN1 ipsm3 " name="" id="" placeholder="Savings Balance: $" required="">
                </p>
                <p>
                  <input type="text"  original-title="Presently Bank at:" class="IN1 ipsm3 " name="" id="" placeholder="Presently Bank at:" required="">
                </p>
              </div>
              <p>*Alimony, child support, or separate maintenance income need not be revealed if you do not wish to have it considered as a basis for repaying this obligation.</p>
            </div>
          </div>
        </div>
      </article>
      <article id="aplicn_btm">
        <div class="warps">
          <div class="coln">
            <input name="" type="submit" value="Save &amp; Exit" class="BTgry">
            <input name="next" type="submit" id="next" value="Next"  class="BTgren">
          </div>
        </div>
      </article>
    </form>
  </section>

<div class="copyright clearfix">
 <div class="copybx"> <a href="privacy-policy.html">Privacy</a> <span>|</span><a href="terms-of-use.html">Terms</a> <span>|</span><a href="sitemap.html">Sitemap</a>
<p>&copy; Biz2Credit.com 2012-13. All rights reserved.</p>
</div>
</div>

</section>


 </div><!--wrapper  end-->
<script type="text/javascript" src="js/jquery.dash.js"></script>
</body>
</html>