<div id="wrapper" data-role="view">
<header class="clearfix">
<nav>
       <div id="fullheds"><div id="menutops">  
        <div class="logo"><a href="./">&nbsp;</a></div> 
		<ul class="nav-menu menu">
            <li><a href="#"><span class="nc1"></span>Dashboard <b>10</b></a></li>
            <li><a href="#"><span class="nc2"></span>Leads</a></li>
            <li><a href="#"  class="activ"><span class="nc3"></span>Manage Cases</a></li>
            <li><a href="#"><span class="nc4"></span>Documents</a></li>
            <li><a href="#"><span class="nc5"></span>Reports</a></li>
            <li><a href="#"><span class="nc6"></span>Account</a></li>
            <li><a href="#"><span class="nc7"></span>Logout</a></li>
            <li><a href="#"><span class="nc8"></span>Go back to Home</a></li>
        </ul>
</div>	</div>
     
     <!-- helpfull prod--><div class="lefthelpdsk">
     <h6>Helpful Products</h6>
     <ul>
      <li><a href="#"><span class="nc1"></span>Equifax</a></li>
      <li><a href="#"><span class="nc2"></span>IRS Transcript</a></li>
      <li><a href="#"><span class="nc3"></span>UCC Search</a></li>
      <li><a href="#"><span class="nc4"></span>E-Signature</a></li>
      <li><a href="#"><span class="nc5"></span>Incorporation Documents</a></li>
     </ul>
     
     
     </div><!-- helpfull prod-->
   </nav>
 </header>


<section>
<div class="helnum"><h2>Call toll free  877-861-2210</h2></div>
<section>
    <form id="B2cAppForms" class="cmxform" action="#" method="post" novalidate="novalidate">
      <article id="aplicn_tp">
        <div class="warps clearfix">
          <ul class="app_nav">
            <li><span>Business Information</span></li>
            <li class="activ"><span>Personal Financial Statement</span></li>
             <li><span>Document List</span></li>
          </ul>
        </div>
      </article>
      <article id="aplicn_step">
        <div class="warps clearfix">
          <ul class="clearfix">
            <li class="done"><span>Business Information</span> </li>
            <li class="activetrail"><span>Personal Financial 
              Statement</span></li>
            <li><span>Personal Financial Statement Schedules</span> </li>
            <li><span>Declarations</span></li>
          </ul>
        </div>
      </article>
      <article id="aplicn_tdBank">
        <div class="warps clearfix">
          <div class="sub-step1">
            <div class="toparea clearfix">
              <h2>Personal Financial Statement</h2>
              <div class="coln">
                <input name="" data-role="backbutton" type="submit" value="Back" class="BTgry">
                <input name="" type="submit" value="Save &amp; Exit" class="BTgry">
                <a href="views/8.html" data-role="button" class="BTgren"  id="next">Next</a>
              </div>
            </div>
            <div class="rws rw2 clearfix">
              <div class="summarytable clearfix">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tbody>
                    <tr>
                      <th width="54%" align="left" valign="middle">ASSETS (What You Own)</th>
                      <th width="39%">As of:&nbsp;&nbsp;
                        <input type="text" style=" width:74px" original-title="Select Date" class="IN1 ipsm1 calic" name="balance_sheet" id="balance_sheet" placeholder="Select Date" required=""></th>
                      <th width="7%" class="last"><div style=" width: 32px;">J / I</div></th>
                    </tr>
                    <tr>
                      <td align="left" valign="middle">Cash</td>
                      <td align="center"><input type="text" original-title="$" name="input" class="IN1 midium" placeholder="$"></td>
                      <td align="center" class="last"><select original-title="Select" class="IN1 sml" id="ji" name="ji" required="">
                      <option value="">Select</option>
                    <option value="">J</option>
                    <option value="">I</option>
                  </select></td>
                    </tr>
                    <tr>
                      <td align="left" valign="middle">Stocks and Bonds </td>
                      <td align="center"><input type="text" original-title="$" name="input2" class="IN1 midium" placeholder="$"></td>
                      <td align="center" class="last"><select original-title="Select" class="IN1 sml" id="ji2" name="ji2" required="">
                        <option value="">Select</option>
                        <option value="">J</option>
                        <option value="">I</option>
                      </select></td>
                    </tr>
                    <tr>
                      <td align="left" valign="middle">Retirement Accounts</td>
                      <td align="center"><input type="text" original-title="$" name="input3" class="IN1 midium" placeholder="$"></td>
                      <td align="center" class="last"><select original-title="Select" class="IN1 sml" id="ji3" name="ji3" required="">
                        <option value="">Select</option>
                        <option value="">J</option>
                        <option value="">I</option>
                      </select></td>
                    </tr>
                    <tr>
                      <td align="left" valign="middle">Real Estate </td>
                      <td align="center"><input type="text" original-title="$" name="input4" class="IN1 midium" placeholder="$"></td>
                      <td align="center" class="last"><select original-title="Select" class="IN1 sml" id="ji4" name="ji4" required="">
                        <option value="">Select</option>
                        <option value="">J</option>
                        <option value="">I</option>
                      </select></td>
                    </tr>
                    <tr>
                      <td align="left" valign="middle">Automobiles</td>
                      <td align="center"><input type="text" original-title="$" name="input5" class="IN1 midium" placeholder="$"></td>
                      <td align="center" class="last"><select original-title="Select" class="IN1 sml" id="ji5" name="ji5" required="">
                        <option value="">Select</option>
                        <option value="">J</option>
                        <option value="">I</option>
                      </select></td>
                    </tr>
                    <tr>
                      <td align="left" valign="middle">Other Assets</td>
                      <td align="center"><input type="text" original-title="$" name="input6" class="IN1 midium" placeholder="$"></td>
                      <td align="center" class="last"><select original-title="Select" class="IN1 sml" id="ji6" name="ji6" required="">
                        <option value="">Select</option>
                        <option value="">J</option>
                        <option value="">I</option>
                      </select></td>
                    </tr>
                    <tr>

                      <td align="left" valign="middle">Estimated Value of Business (Applicant/Borrower)</td>
                      <td align="center"><input type="text" original-title="$" name="input7" class="IN1 midium" placeholder="$"></td>
                      <td align="center" class="last"><select original-title="Select" class="IN1 sml" id="ji7" name="ji7" required="">
                        <option value="">Select</option>
                        <option value="">J</option>
                        <option value="">I</option>
                      </select></td>
                    </tr>
                    <tr>
                      <td align="left" valign="middle"><strong>Total Assets</strong></td>
                      <td align="center"><input type="text" original-title="$" name="input8" disabled="disabled" class="IN1 midium" placeholder="$"></td>
                      <td align="center" class="last">&nbsp;</td>
                    </tr>

                    <tr>
                      <th colspan="3" align="left" valign="middle">LIABILITIES (What You Owe)</th>
                    </tr>
                    <tr>
                      <td align="left" valign="middle">Accounts and Bills Due</td>
                      <td align="center"><input type="text" original-title="$" name="input8" class="IN1 midium" placeholder="$"></td>
                      <td align="center" class="last"><select original-title="Select" class="IN1 sml" id="ji9" name="ji9" required="">
                        <option value="">Select</option>
                        <option value="">J</option>
                        <option value="">I</option>
                      </select></td>
                    </tr>
                    <tr>
                      <td align="left" valign="middle">Credit Cards/Revolving Loans</td>
                      <td align="center"><input type="text" original-title="$" name="input8" class="IN1 midium" placeholder="$"></td>
                      <td align="center" class="last"><select original-title="Select" class="IN1 sml" id="ji8" name="ji8" required="">
                        <option value="">Select</option>
                        <option value="">J</option>
                        <option value="">I</option>
                      </select></td>
                    </tr>
                    <tr>
                      <td align="left" valign="middle">Installment/Other Loans </td>
                      <td align="center"><input type="text" original-title="$" name="input8" class="IN1 midium" placeholder="$"></td>
                      <td align="center" class="last"><select original-title="Select" class="IN1 sml" id="ji10" name="ji10" required="">
                        <option value="">Select</option>
                        <option value="">J</option>
                        <option value="">I</option>
                      </select></td>
                    </tr>
                    <tr>
                      <td align="left" valign="middle">Mortgages and Home Equity Loans </td>
                      <td align="center"><input type="text" original-title="$" name="input8" class="IN1 midium" placeholder="$"></td>
                      <td align="center" class="last"><select original-title="Select" class="IN1 sml" id="ji11" name="ji11" required="">
                        <option value="">Select</option>
                        <option value="">J</option>
                        <option value="">I</option>
                      </select></td>
                    </tr>
                    <tr>
                      <td align="left" valign="middle"><strong>Total Liabilities</strong></td>
                      <td align="center"><input type="text" original-title="$" disabled="disabled" name="input8" class="IN1 midium" placeholder="$"></td>
                      <td rowspan="2" align="center" class="last">&nbsp;</td>
                    </tr>
                    <tr>
                      <td align="left" valign="middle">Net Worth (Total Assets minus Total Liabilities)</td>
                      <td align="center"><input type="text" disabled="disabled" original-title="$" name="input8" class="IN1 midium" placeholder="$"></td>
                      </tr>
                  </tbody>
                </table>
                <br>
    <p>*Alimony, child support, or separate maintenance income need not be revealed if you do not wish to have it considered as a basis for repaying this obligation.</p>
              </div>
            </div>
          </div>
        </div>
      </article>
      <article id="aplicn_btm">
        <div class="warps">
          <div class="coln">
            <input name="" data-role="backbutton" type="submit" value="Back" class="BTgry">
            <input name="" type="submit" value="Save &amp; Exit" class="BTgry">
            <a href="views/8.html" data-role="button" class="BTgren"  id="next">Next</a>
          </div>
        </div>
      </article>
    </form>
  </section>

<div class="copyright clearfix">
 <div class="copybx"> <a href="#">Privacy</a> <span>|</span><a href="#">Terms</a> <span>|</span><a href="#">Sitemap</a>
<p>&copy; Biz2Credit.com 2012-13. All rights reserved.</p>
</div>
</div>

</section>
</div>