<div id="wrapper" data-role="view">
  <header class="clearfix">
    <nav>
      <div id="fullheds">
        <div id="menutops">
          <div class="logo"><a href="./">&nbsp;</a></div>
          <ul class="nav-menu menu">
            <li><a href="#"><span class="nc1"></span>Dashboard <b>10</b></a></li>
            <li><a href="#"><span class="nc2"></span>Leads</a></li>
            <li><a href="#" class="activ"><span class="nc3"></span>Manage Cases</a></li>
            <li><a href="#"><span class="nc4"></span>Documents</a></li>
            <li><a href="#"><span class="nc5"></span>Reports</a></li>
            <li><a href="#"><span class="nc6"></span>Account</a></li>
            <li><a href="#"><span class="nc7"></span>Logout</a></li>
            <li><a href="#"><span class="nc8"></span>Go back to Home</a></li>
          </ul>
        </div>
      </div>
      <!-- helpfull prod-->
      <div class="lefthelpdsk">
        <h6>Helpful Products</h6>
        <ul>
          <li><a href="#"><span class="nc1"></span>Equifax</a></li>
          <li><a href="#"><span class="nc2"></span>IRS Transcript</a></li>
          <li><a href="#"><span class="nc3"></span>UCC Search</a></li>
          <li><a href="#"><span class="nc4"></span>E-Signature</a></li>
          <li><a href="#"><span class="nc5"></span>Incorporation Documents</a></li>
        </ul>
      </div>
      <!-- helpfull prod-->
    </nav>
  </header>
  <section>
    <div class="helnum">
      <h2>Call toll free  877-861-2210</h2>
    </div>
    <section>
      <form id="B2cAppForms" class="cmxform" action="#" method="post" novalidate="novalidate">
        <article id="aplicn_tp">
          <div class="warps clearfix">
            <ul class="app_nav">
              <li><span>Business Information</span></li>
              <li class="activ"><span>Personal Financial Statement</span></li>
                  <li><span>Document List</span></li>
            </ul>
          </div>
        </article>
        <article id="aplicn_step">
          <div class="warps clearfix">
            <ul class="clearfix">
              <li class="done"><span>Business Information</span> </li>
              <li class="done"><span>Personal Financial 
                Statement</span></li>
              <li class="done"><span>Personal Financial Statement Schedules</span> </li>
              <li  class="activetrail"><span>Declarations</span></li>
            </ul>
          </div>
        </article>
        <article id="aplicn_tdBank">
          <div class="warps clearfix">
            <div class="sub-step1">
              <div class="toparea clearfix">
                <h2>Declarations <span style="font-size:12px; font-weight:normal; display:block;">The following questions are required to process your Small Business loan request.</span></h2>
                <div class="coln">
                  <input name="" data-role="backbutton" type="submit" value="Back" class="BTgry">
                  <input name="" type="submit" value="Save &amp; Exit" class="BTgry">
                  <a href="#view3" data-role="button" class="BTgren"  id="next">Submit</a> </div>
              </div>
              <div class="rws rw2 clearfix">
                <div class="clear"></div>
                <div class="rwfil clearfix">
                  <p class="opt">
                    <input type="radio" value="" name="r55">
                    <span>Yes</span>
                    <input type="radio" value="" name="r55">
                    <span>No</span></p>
                  <p class="optText">1. Is the Owner or any of the proposed guarantors party to any lawsuit or subject to outstanding judgments?</p>
                </div>
                <div class="rwfil clearfix">
                  <p class="opt">
                    <input type="radio" value="" class="dueyes1" name="a">
                    <span>Yes</span>
                    <input type="radio" class="dueno1" value="" name="a">
                    <span>No</span></p>
                  <p class="optText">2. Is the Owner or any of the proposed guarantors party to taxes or credit obligations past due?</p>
                </div>
                <div class="rwfil clearfix">
                  <div class="conditionBlock clearfix dueyes">
                    <p style="padding-bottom:0;">
                      <input type="text" required="" placeholder="Amount ($)" id="specifyuse" name="Amount" class="IN1 ipsm3" style="margin-bottom:0;" original-title="Amount ($)">
                    </p>
                    <p style="padding-bottom:0;">
                      <input type="text" required="" placeholder="Payable to" id="payableto" name="Amount" class="IN1 ipsm3" style="margin-bottom:0;" original-title="Payable to">
                    </p>
                  </div>
                </div>
                <div class="rwfil clearfix">
                  <p class="opt">
                    <input type="radio" value="" name="r66">
                    <span>Yes</span>
                    <input type="radio" value="" name="r66">
                    <span>No</span></p>
                  <p class="optText">3. Has the Owner or any of the proposed guarantors ever filed personal bankruptcy or served as an officer in a company that declared bankruptcy?</p>
                </div>
                <div class="rwfil clearfix">
                  <p class="opt">
                    <input type="radio" value="" name="r77">
                    <span>Yes</span>
                    <input type="radio"  value="" name="r77">
                    <span>No</span></p>
                  <p class="optText">4. Is the Owner or any of the proposed guarantors presently under indictment or probation or parole, or ever been charged or convicted for any criminal offense other than a minor motor vehicle violation?</p>
                </div>
                <div class="rwfil clearfix">
                  <p class="opt">
                    <input type="radio" value="" class="isapplicantyes" name="b">
                    <span>Yes</span>
                    <input type="radio" class="isapplicantno" value="" name="b">
                    <span>No</span></p>
                  <p class="optText">5. Is the Owner or any of the proposed guarantors, a political party, a campaign, a candidate, a public official or foreign political official or an immediate family member of such an official, or a business entity formed by or for the benefit of any Public Official.</p>
                </div>
                <div class="conditionBlock clearfix applicant">
                  <p style="padding-bottom:0;">
                    <input type="text" required=""  style="width:310px;" placeholder="Name, relationship, &amp; position of official" id="applicant" name="applicant" class="IN1 ipsm3" original-title="Name, relationship, &amp; position of official">
                  </p>
                </div>
                <div class="rwfil clearfix">
                  <p class="opt">
                    <input type="radio" value="" class="isapplicantyes1" name="r88">
                    <span>Yes</span>
                    <input type="radio" class="isapplicantno1" value="" name="r88">
                    <span>No</span></p>
                  <p class="optText">6. Is the Owner, or any of the proposed guarantors an employee of TD Bank, N.A. or one of its affiliates?</p>
                </div>
                <div class="conditionBlock clearfix applicant2">
                  <p style="padding-bottom:0;">
                    <input type="text" required=""  style="width:310px;" placeholder="Name of employee" id="applicant" name="applicant" class="IN1 ipsm3"  original-title="Name of employee">
                  </p>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </article>
        <article id="aplicn_btm">
          <div class="warps">
            <div class="coln">
              <input name="" data-role="backbutton" type="submit" value="Back" class="BTgry">
              <input name="" type="submit" value="Save &amp; Exit" class="BTgry">
              <a href="#view3" data-role="button" class="BTgren"  id="next">Submit</a> </div>
          </div>
        </article>
      </form>
    </section>
    <div class="copyright clearfix">
      <div class="copybx"> <a href="#">Privacy</a> <span>|</span><a href="#">Terms</a> <span>|</span><a href="#">Sitemap</a>
        <p>&copy; Biz2Credit.com 2012-13. All rights reserved.</p>
      </div>
    </div>
  </section>
</div>